.class1 tbody tr:nth-child(2n) {
    background: #f9f9f9;
}

.class2 thead tr th,
.class2 tbody tr td {
    border-style: dashed;
}


.class3 table {
    border: 0px solid rgba(255, 255, 255, 0);
}

.class3 thead tr th,
.class3 tbody tr td {
    border: 0px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    padding-left:0px;
    padding-right:0px
}